$blogColor: #ff9bb0; //主题色

$backColor: #f5f5f5; //背景色
// $backColor: black; //背景色

$boxColor: #fff; //盒子色
// $boxColor: gray; //盒子色

$warnColor: #ffb302;
$dangerColor: #cf4444;
$boxShadow: 0 2px 8px rgba(0, 0, 0, 0.06);
$boxShadowHover: 0 4px 12px rgba(0, 0, 0, 0.24);
$fontFamily: serif;
$radius: 6px;
$fontColor: black;
// $fontColor: white;

$lightFontColor: #666;
// $lightFontColor: #faf7f7;
